#todos_box {
    width: 100%;
    height: 60%;
    background-color: transparent;
}
#todos_box>div {
    width: 50%;
    height: 90%;
}
#text_box {
    width: 100%;
    height: 10%;
    background-color: rgba(71, 184, 255, 0.401);
    backdrop-filter: blur(10px);
    border-radius: 12px 12px 0 0;
}
#text_box>span {
    font-family: var(--fontFamily);
    font-size: 22px;
}

#list_down {
    width: 50%;
    height: 100%;
    background-color: rgba(107, 107, 255, 0.584);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.325) , 0 0 10px rgba(202, 202, 255, 0.584) , 0 0 10px rgba(202, 202, 255, 0.584);
    margin-left: 50px;
    margin-right: 100px;
}
#item_down {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 90%;
    background-color: transparent;
    justify-content: start;
    list-style-type: none;
    gap: 10px;
    overflow-y: hidden;
}
#item_down>li {
    position: relative;
    width: 90%;
    height: 50px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.222), 0 0 8px rgba(255, 255, 255, 0.387), 0 0 8px rgba(255, 255, 255, 0.581);
    border: 1px solid rgba(255, 255, 255, 0.581);
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
#item_down>li>span {
    font-family: var(--fontFamily);
    font-size: 20px;
    padding: 15px;
    color: rgb(12, 31, 93);
}
#item_down>li>#svg_box {
    position: absolute;
    right: 20px;
    top: 15px;
    width: max-content;
    height: max-content;
    gap: 10px;
}
#item_down>li>#svg_box>i {
    cursor: pointer;
}

#list_addtodo {
    width: 50%;
    height: 100%;
    background-color: rgba(107, 218, 255, 0.584);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    margin-left: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.325) , 0 0 10px rgba(202, 202, 255, 0.584) , 0 0 10px rgba(202, 202, 255, 0.584);
    margin-left: 100px;
    margin-right: 50px;
}
#item_addtodo {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 90%;
    background-color: transparent;
    justify-content: start;
    list-style-type: none;
    gap: 10px;
    overflow-y: hidden;
}
#item_addtodo>li {
    position: relative;
    width: 90%;
    height: 50px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.222) , 0 0 8px rgba(255, 255, 255, 0.387) , 0 0 8px rgba(255, 255, 255, 0.581);
    border: 1px solid rgba(255, 255, 255, 0.581);
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
#item_addtodo>li>span {
    font-family: var(--fontFamily);
    font-size: 20px;
    padding: 15px;
    color: rgb(12, 51, 93);
}
#item_addtodo>li>#svg_box {
    position: absolute;
    right: 20px;
    top: 15px;
    width: max-content;
    height: max-content;
    gap: 10px;
}
#item_addtodo>li>#svg_box>i {
    cursor: pointer;
}

#input_todo_box {
    width: 100%;
    height: 40%;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
#input_todo_box>input {
    /* position: relative; */
    /* top: 100px; */
    width: 300px;
    height: 40px;
    padding: 0 20px;
    font-family: var(--fontFamily);
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gold;
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.48);
    outline: none;
    background-color: transparent;
    margin-top: 100px;
    color: #fff;
}
#input_todo_box>input::placeholder {
    color: #ffffff9b;
}
#input_todo_box>button {
    /* position: relative; */
    /* top: 200px; */
    padding: 10px 35px;
    border-radius: 5px;
    border: 2px solid rgb(126, 126, 255);
    background-color: transparent;
    color: #fff;
    font-family: var(--fontFamily);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 300ms;
}
#input_todo_box>button:hover {
    background-color: rgb(126, 126, 255);
}

.gg-check-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
    color: green;
}
.gg-check-r::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}


.gg-close-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    color: red;
}
.gg-close-r::after,
.gg-close-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}
.gg-close-r::after {
    transform: rotate(-45deg)
}